.header{
  position: absolute;
  width: 100%;
  background: $white;
  &_top{
    border-bottom: 1px solid #ced1d5;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11);
    padding: 16px 0;
    .container{
      text-align: justify;
      font-size: 0;
      &:after{
        content: '';
        width: 100%;
        display: inline-block;
      }
    }
    &_left{
      display: inline-block;
      vertical-align: middle;
    }
    &_right{
      display: inline-block;
      vertical-align: middle;
    }
  }
  &_logo{
    display: inline-block;
    vertical-align: middle;
    &.header_company{
      margin-right: 48px;
    }
    &.header_partner{
      margin-right: 44px;
    }
  }
  &_soc{
    display: inline-block;
    vertical-align: middle;
    &__link{
      margin-right: 22px;
      &:last-child{
        margin-right: 0;
      }
      img{
        opacity: 0.25;
      }
    }
  }
  &_location{
    margin-left: 40px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    &_caption{
      display: inline-block;
      vertical-align: middle;
      i{
        color: $green;
        font-size: 16px;
      }
    }
    &_dropdown{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      .dropdown_caption{
        color: $fontBlack;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        padding: 0;
        padding-right: 10px;
        &:after{
          content: '\f0d7';
          font-family: 'FontAwesome';
          font-size: 14px;
          color: #999999;
          border: none;
          -webkit-transform: translate(0, -45%) rotate(0deg);
          transform: translate(0, -45%) rotate(0deg);
          position: absolute;
          top: 50%;
          right: 0px;
        }
      }
      .dropdown_list{
        position: absolute;
        right: 0;
        margin-top: 5px;
        min-width: 100%;
        padding: 5px;
        &_item{
          margin-bottom: 4px;
        }
      }
    }
  }
  
  &_bottom{
    padding: 25px 0 21px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11);
    border: 1px solid #ced1d5;
  }
  &_nav{
    font-size: 0;
    @include justify;
    // text-align: justify;
    // &:after{
      //   content: '';
      //   width: 100%;
      //   display: inline-block;
      // }
      &_item{
        display: inline-block;
        vertical-align: middle;
        &__link{
          text-transform: uppercase;
          font-size: 14px;
          &.with_list{
            position: relative;
            padding-right: 15px;
            &:after{
              content: '\f0d7';
              font-family: 'FontAwesome';
              color: $green;
              font-size: 14px;
              position: absolute;
              top: 50%;
              right: 0;
              @include translate(0, -50%);
              
            }
          }
        }
      }
    }
    &_mob{
      display: none;
      height: 62px;
      padding-top: 21px;
      .menu_btn{
        padding-left: 43px;
        position: relative;
        height: 22px;
        &_icon{
          position: absolute;
          top: 0;
          left: 0;
          width: 27px;
          height: 100%;
          span{
            width: 27px;
            height: 3px;
            background: #000;
            display: block;
            margin-bottom: 7px;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
        &_caption{
          font-size: 16px;
          color: $fontBlack;
        }
      }
    }
  }
  
  
  @media all and(max-width: 890px){
    .header{
      &_top_right{
        display: none;
      }
      &_top_left{
        width: 100%;
        text-align: justify;
        font-size: 0;
        &:after{
          content: '';
          display: inline-block;
          width: 100%;
        }
      }
      &_logo{
        // width: 33.33%;
        margin: 0 !important;
        &:nth-child(1){
          text-align: left;
        }
        &:nth-child(2){
          text-align: center;
          // float: right;
        }
        &:nth-child(3){
          text-align: right;
          
        }
        img{
          max-width: 100%;
          
        }
      }
      &_mob{
        display: block;
      }
      &_bottom{
        position: absolute;
        z-index: 50;
        background-color: #f8f8f8;
        width: 100%;
        top: 62px;

        display: none;
      }
      &_nav{
        &_item{
          display: block;
          padding: 10px 0;
          position: relative;
          &:after{
            content: '\f054';
            font-family: 'FontAwesome';
            font-size: 16px;
            color: #999999;
            float: right;
          }
        }
      }
    }
    main{
      // padding-top: 0;
    }
  }
  
  
  
  
  @media all and (max-width: 502px){
    .header_logo{
      img{
        max-height: 37px;
      }
    } 
  }
  