.pagination{
  border: 1px solid #ced1d5;
  text-align: center;
  margin-bottom: 45px;
  li{
    display: inline-block;
    margin: 0 7px;
    &.pagination_btn{
      margin: 0;
      a{
        padding: 14px 16px;
        &:hover{
          color: $borderGreen;
        }
      }
      &.prev{
        float: left;
        border-right: 1px solid #ced1d5;

      }
      &.next{
        float: right;
        border-left: 1px solid #ced1d5;
      }
    }
    &.pagination_dot_prev{
      // float: left;
    }
    &.pagination_dot_next{
      // float: right;
    }
    &.current{
      background-color: #f0f0f0;
    }
    a,
    span{
      padding: 14px 14px;
      display: block;
    }
    a{
      &:hover{
        color: $borderGreen;
      }
    }
  }
}