.step_counter{
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ced1d5;
  &_h{
    color: $fontBlack;
  }
  &_item{
    color: $borderGreen;
  }
}

.registration{
  padding: 72px 0 100px;
  &_header{
    margin-bottom: 25px;
    font-size: 0;
    text-align: justify;
    @include justify;
    *{
      display: inline-block;
      vertical-align: middle;
    }
  }
  //registration_form
  &_form{
    form{
      margin-left: -15px;
      margin-right: -15px;
      font-size: 0;
    }
    &_block{
      font-size: 18px;
      display: inline-block;
      vertical-align: middle;
      width: 33.33%;
      padding: 20px 15px;
      .requiredField,
      .phoneBlock{
        &.error_field{
          @include box-shadow(0 0 1px 1px red);
        }
      }
      .radioField{
        &.error_field{
          border: none;
          @include box-shadow(none);
          label{
            &:before{
              border: 2px solid red;
            }
          }
        }
      }

      &.phoneBlock,
      &.withTwoSelects{
        font-size: 0;
        .selectField,
        .formInput{
          display: inline-block;
          vertical-align: middle;
        }
      }
      // &.withTwoSelects{
        .withTwoSelects{
          &_container{
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            padding: 0 15px;
            &:first-child{
              padding-left: 0;
            }
            &:last-child{
              padding-right: 0;
            }
            .selectField{
              width: 100%;
              .select_dropdown{
                // margin: 0 15px;
              }
            }
          }
        }
      // }
      &.phoneBlock,
      .phoneBlock{
        position: relative;
        padding-left: 55px;
        .selectField{
          width: 55px;
          position: absolute;
          top: 50%;
          left: 0px;
          @include translate(0, -50%);
          .dropdown_caption{
            border-radius: 4px 0 0 4px;
            border-right: none;
          }
        }
        .formInput{
          width: 100%;
          input{
            border-radius: 0 4px 4px 0;
          }
        }
        .dropdown_caption{
          padding: 15px 12px;
          &:before{
            display: none;  
          }
          &:after{
            content: '\f0d7';
            font-family: 'FontAwesome';
            font-size: 14px;
            color: #999999;
            border: none;
            @include transform(translate(0, -50%) rotate(0deg));
            right: 6px;
          }
        }
      }
    } // registration_form_block
    &_caption{
      display: inline-block;
      vertical-align: middle;
      margin-right: 19px;
    }
    .radioField{
      display: inline-block;
      vertical-align: middle;
      input{
        display: none;
        &:checked + label{
          &:before{
            border: 2px solid $borderGreen;;
          }
          &:after{
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 20px;
            position: absolute;
            top: 8px;
            left: 5px;
            background: $borderGreen;;
            @include transition(0.25, ease);
          }
        }
      }
      label{
        margin-right: 17px;
        padding-left: 23px;
        position: relative;
        &:before{
          content: '';
          width: 18px;
          height: 18px;
          border-radius: 18px;
          border: 2px solid #999999;
          display: block;
          position: absolute;
          top: 3px;
          left: 0;
          @include transition(0.25, ease);
        }
      }
      
    }
    
    .checkField{
      input{
        display: none;
        &:checked + label{
          &:before{
            border: 2px solid $borderGreen;;
          }
          &:after{
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;
            position: absolute;
            top: 5px;
            left: 4px;
            background: $borderGreen;
            @include transition(0.25, ease);
          }
        }
      }
      label{
        color: #999999;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        padding-left: 23px;
        &:before{
          content: '';
          width: 18px;
          height: 18px;
          border-radius: 2px;
          border: 2px solid $fontBlack;
          display: block;
          margin-top: 1px;
          position: absolute;
          top: 0;
          left: 0;
          @include transition(0.25, ease);
        }
        &.error{
          &:before{
            border: 2px solid red;
          }
        }
      }
    }    
    .selectField{
      position: relative;
    }
    .dropdown_list{
      max-height: 250px;
      position: absolute;
      width: 100%;
    }
  } //registration_form
}

.hidden_form{
  border-top: 2px solid $borderGreen;
  padding-top: 57px;
  &_wrapper{
    padding: 26px 15px 0px;
  }
  &_h{
    color: #999999;
    font-size: 16px;
    font-weight: 400;
  }
  &_block{
    margin-left: -15px;
    margin-right: -15px;
  }
}
.add_kid_form_btn{
  font-size: 18px;
  text-align: center;
  line-height: 48px;
  background-color: #f2f2f2;
  margin-top: 15px;
  margin-bottom: 19px;
  cursor: pointer;
  i{
    color: $borderGreen;
    margin-right: 5px;
  }
  span{
    color: $fontBlack;
    font-weight: 300;
  }
}


.formInput{
  input{
    width: 100%;
    height: 56px;
    border-radius: 4px;
    border: 1px solid #ced1d5;
    background-color: #ffffff;
    padding: 20px;
    color: $fontBlack;
    font-size: 18px;
    font-weight: 300;
  }
}
.formSubmit{
  button{
    width: 100%;
    height: 55px;
    border-radius: 4px;
    background-color: $fontBlack;
    color: $white;
    font-size: 24px;
    font-weight: 400;
  }
}


.select_dropdown{
  // height: 56px;
  min-height: 56px;
  background-color: #ffffff;
  .dropdown_caption{
    border-radius: 4px;
    border: 1px solid #ced1d5;
    position: relative;
    padding-right: 65px;
    @include transition(0.25s, ease);
    &.active{
      border-radius: 4px 4px 0 0;
      // border-bottom: none;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 55px;
      border-left: 1px solid #ced1d5;
    }
    &:after{
      // content: '\f078';
      // font-family: 'FontAwesome';
      // font-size: 14px;
      content: '';
      width: 12px;
      height: 12px;
      // background-color: $borderGreen;
      border-left: 3px solid $borderGreen;
      border-bottom: 3px solid $borderGreen;
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      @include transform(translate(0, -70%) rotate(-45deg))
    }
  }
  .dropdown_list{
    border-top: none;
  }
}


@media all and(max-width: 991px){
  .registration_form_block{
    width: 50%;
  }
}

@media all and(max-width: 768px){
  .registration_form_block{
    width: 100%;
    .registration_form_caption{
      margin-bottom: 10px;
    }
    .registration_form_caption,
    .radioField{
      width: 100%;
      text-align: center;
    }
    .checkField{
      text-align: center;
    }
  }
}