<div class="footer">
  <div class="container">
 
    <div class="footer_top">
      
      <div class="footer_logo">
        <img src="img/footer_logo.png" alt="">
      </div>
      
      <div class="footer_soc">
        <a href="#!" class="footer_soc__link">
          <img src="img/icons/vk-reproductor_footer.png" alt="">
        </a>
        <a href="#!" class="footer_soc__link">
          <img src="img/icons/odnoklassniki-logo_footer.png" alt="">
        </a>
        <a href="#!" class="footer_soc__link">
          <img src="img/icons/facebook_footer.png" alt="">
        </a>
      </div>
      
      <ul class="footer_nav">
        <li class="footer_nav_item">
          <a href="#!" class="footer_nav_item__link">Главная</a>
        </li>
        <li class="footer_nav_item">
          <a href="#!" class="footer_nav_item__link with_list">О Марафоне</a>
        </li>
        <li class="footer_nav_item">
          <a href="#!" class="footer_nav_item__link">Города РФ</a>
        </li>
        <li class="footer_nav_item">
          <a href="#!" class="footer_nav_item__link">Москва</a>
        </li>
        <li class="footer_nav_item">
          <a href="#!" class="footer_nav_item__link">Нас поддерживают</a>
        </li>
        <li class="footer_nav_item">
          <a href="#!" class="footer_nav_item__link">СМИ о нас</a>
        </li>
        <li class="footer_nav_item">
          <a href="#!" class="footer_nav_item__link">FAQ</a>
        </li>
        <li class="footer_nav_item">
          <a href="#!" class="footer_nav_item__link">Партнеры проекта</a>
        </li>
      </ul>
      
    </div>
    
    <div class="footer_bottom">
      <div class="footer_bottom_right">
        <a href="#!" class="footer_bottom_btn"> Написать в техподдержку</a>
        <a href="#!" class="footer_bottom_link">Положение о проведении</a>
      </div>
      <div class="footer_bottom_left">
        <p>
          © 1997 — 2019 Сбербанк России
        </p>
        <p>
          Россия, Москва, 117997, ул. Вавилова, д. 19, тел. +7 (495) 500 5550, 8 800 555 5550.
          Генеральная лицензия на осуществление банковских операций от 11 августа 2015 года.
          Регистрационный номер — 1481.
        </p>
      </div>
    </div>
    
  </div>
</div>