<header class="header">
  <div class="header_mob">
    <div class="container">
      <div class="menu_btn">
        <div class="menu_btn_icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu_btn_caption">Меню</div>
      </div>

      <div class="helpers_block">
        <a href="#!" class="helpers_block_item"><i class="fas fa-user-plus"></i></a>
        <a href="#!" class="helpers_block_item"><i class="fas fa-coins"></i></a>
        <a href="#!" class="helpers_block_item"><i class="fas fa-question"></i></a>
      </div>
    </div>
  </div>
  
  <div class="header_top">
    <div class="container">
      
      <div class="header_top_left">
        <a href="#!" class="header_logo header_company">
          <img src="img/sber_logo.png" alt="">
        </a>
        <a href="#!" class="header_logo header_event">
          <img src="img/event_logo.png" alt="">
        </a>
        <a href="#!" class="header_logo header_partner">
          <img src="img/partner_logo.png" alt="">
        </a>
      </div>
      
      <div class="header_top_right">
        <div class="header_soc">
          <a href="#!" class="header_soc__link">
            <img src="img/icons/vk-reproductor.svg" alt="">
          </a>
          <a href="#!" class="header_soc__link">
            <img src="img/icons/odnoklassniki-logo.svg" alt="">
          </a>
          <a href="#!" class="header_soc__link">
            <img src="img/icons/facebook.svg" alt="">
          </a>
        </div>
        <div class="header_location">
          <div class="header_location_caption">
            <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
            <span>Ваш город:</span>
          </div>
          
          <div class="header_location_dropdown">
            <div class="dropdown_caption">Москва</div>
            <ul class="dropdown_list" style="display: none;">
              <li>
                <a href="#" class="dropdown_list_link">Москва</a>
              </li>
              <li>
                <a href="#" class="dropdown_list_link">Калуга</a>
              </li>
              <li>
                <a href="#" class="dropdown_list_link">Ростов</a>
              </li>
              <li>
                <a href="#" class="dropdown_list_link">Владивосток</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="header_bottom">
    <div class="container">
      
      <ul class="header_nav">
        <li class="header_nav_item">
          <a href="#!" class="header_nav_item__link">Главная</a>
        </li>
        <li class="header_nav_item with_list">
          <a href="#!" class="header_nav_item__link ">О Марафоне</a>
          <div class="submenu_list_container">
            <ul class="submenu_list">
              <li class="submenu_list__item"><a href="#!">История</a></li>
              <li class="submenu_list__item"><a href="#!">Новости</a></li>
              <li class="submenu_list__item"><a href="#!">Положение</a></li>
            </ul>
            <ul class="submenu_list">
              <li class="submenu_list__item"><a href="#!">Медицинские справки</a></li>
              <li class="submenu_list__item"><a href="#!">О Фонде «Память поколений»</a></li>
            </ul>
          </div>
        </li>
        <li class="header_nav_item">
          <a href="#!" class="header_nav_item__link">Города РФ</a>
        </li>
        <li class="header_nav_item">
          <a href="#!" class="header_nav_item__link">Москва</a>
        </li>
        <li class="header_nav_item">
          <a href="#!" class="header_nav_item__link">Нас поддерживают</a>
        </li>
        <li class="header_nav_item">
          <a href="#!" class="header_nav_item__link">СМИ о нас</a>
        </li>
        <li class="header_nav_item">
          <a href="#!" class="header_nav_item__link">FAQ</a>
        </li>
        <li class="header_nav_item">
          <a href="#!" class="header_nav_item__link">Партнеры проекта</a>
        </li>
      </ul>

      <div class="registration_mob_link">
        <a href="#registration">Регистрация</a>
      </div>
      
    </div>
  </div>
</header>