.jumbo{
  // height: 100%;
  width: 100%;
  min-height: 622px;
  // background: url('../img/jumbo_bg.png') 50% 50% no-repeat;
  background: url('../img/jumbo_bg.png') 100% 50% no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 205px;
  overflow: hidden;
  .running_container{
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    @include translate(-50%, 0%);
    pointer-events: none;
  }
  .running_img{
    position: absolute;
    bottom: 0;
    right: 250px;
  }
  .container{
    // height: 100%;
  }
  &_text{
    // background: url('../img/jumbo_text_bg.png') no-repeat;
    // background-position: 0 0;
    // background-size: contain;
    padding: 30px 0 30px;
    width: 100%;
    color: $white;
    position: absolute;
    top: 43%;
    @include translate(0, -50%);
    overflow: hidden;
    &_bg{
      position: absolute;
      top: 50%;
      // right: 200px;
      right: 11%;
      @include translate(0, -50%);
      z-index: -1;
      width: 100%;
      min-width: 1920px;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .container{
      padding-bottom: 0;
      height: auto;
    }
    &_h{
      font-size: 74px;
    }
    &_caption{
      max-width: 604px;
      font-size: 18px;
    }
  }
  &_timer{
    position: absolute;
    bottom: 226px;
    // bottom: 0;
    width: 100%;
    z-index: 10;
    .container{
      position: relative;
      
    }
    &_h{
      margin-bottom: 19px;
      text-align: right;
      span{
        color: #ffffff;
        font-size: 48px;
        font-weight: 700;
      }
    }
    &_clock{
      text-align: right;
      .lightTimerBlock{
        display: inline-block;
        border-radius: 5px;
        background-color: #ffffff;
        padding: 5px 10px 7px;
        text-align: center;
        margin-left: 19px;
        width: 125px;
        color: $fontBlack;
        
        &:first-child{
          // Style for "Прямоуголь"
          width: 154px;
          background-color: $green;
          color: $white;
        }
        
        &:last-child{
          margin-right: 0;
          .lightTimerСaptionSpan{
            // min-width: 65px;
          } 
        }
      }
      .lightTimerСaptionSpan{
        // color: $fontBlack;
        font-size: 15px;
        font-weight: 400;
        display: block;
      }
      .lightTimerNumberSpan{
        // color: $fontBlack;
        font-size: 49px;
        font-weight: 700;
        line-height: 51px;
        display: block;
      }
    }
  }
}




@media all and(max-width: 1135px){
  .jumbo_text_h{
    font-size: 50px;
  }
  .jumbo_text_caption{
    font-size: 14px;
    max-width: 400px;
  }
  
}

@media all and(max-width: 1085px){
  
  .jumbo .running_img{
    right: 150px; 
  }
  .jumbo_timer_clock{
    .lightTimerСaptionSpan{
      font-size: 11px;
      line-height: 12px;
    }
    .lightTimerNumberSpan{
      font-size: 30px;
      line-height: 32px;
    }
    .lightTimerBlock{
      padding-left: 21px;
      padding-right: 21px;
      width: 75px;
      padding: 5px;
      text-align: center;
      &:first-child{
        width: 93px;
      }
      &:last-child{
        .lightTimerСaptionSpan{
        }
      }
    }
  } 
  
}

@media all and(max-width: 890px){
  .jumbo .running_img{
    right: 50px; 
  }
  .jumbo_text_caption{
    max-width: 300px;
  }
}

@media all and(max-width: 768px){
  .jumbo{
    min-height: 430px;
    padding-bottom: 85px;
    .running_img{
      height: 330px;
      // bottom: 85px;
      // right: 10px;

      right: 50%;
      bottom: 50%;
      @include translate(50%, 42%);
      img{
        height: 100%;
      }
    }
  }
  .jumbo_timer{
    // background: $fontBlack;
  }
  .jumbo_timer{
    bottom: 21px;
    
    &_h{
      display: none;
    }
    &_clock{
      // height: 85px;
      padding-top: 15px;
      text-align: center;
      .lightTimerBlock{
        width: 75px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 13px;
        &:first-child{
          margin-left: 0;
          width: 93px;
        }
      }
    }
  }
  .jumbo_text_bg{
    height: 113px;
    right: auto;
    top: 27%;
  }
  .jumbo_text_h{
    width: 181px;
    font-size: 42px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .jumbo_text_caption{
    color: $fontBlack;
    font-size: 14px;
  }
  
}


.about_project{
  background-color: rgba(8, 166, 82, 0.45);
  padding: 61px 0 80px;
  .container{
    
  }
  .site_h{
    margin-bottom: -35px;
  }
  &_row{
    margin-bottom: 43px;
    font-size: 0;
    max-width: 100%;
    & > div{
      display: inline-block;
      vertical-align: top;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &.left_img{
      .about_project_img{
        padding-right: 15px;
      }
      .about_project_text{
        padding-left: 15px;
      }  
    }
    &.right_img{
      position: relative;
      .about_project_img{
        padding-left: 15px;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        max-height: 300px;
      }
      .about_project_text{
        padding-right: 15px;
        padding-top: 61px;
      }
    }
  }
  &_img{
    width: 50%;
    
    img{
      width: 100%;
    }
  }
  &_text{
    color: $fontBlack;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    width: 50%;
    
    p{
      margin-bottom: 40px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  
}




@media all and (max-width: 991px){
  .about_project{
    background-color: rgba(8, 166, 82, 0.45);
    padding: 43px 0 30px;
    .container{
      
    }
    .site_h{
      margin-bottom: 32px;
    }
    &_row{
      margin-bottom: 20px;
      & > div{
        display: block;
      }
      &.left_img{
        .about_project_img{
          padding: 0;
        }
        .about_project_text{
          padding: 0;
        }  
      }
      &.right_img{
        position: relative;
        .about_project_img{
          position: static;
          max-height: none;
          padding: 0;
        }
        .about_project_text{
          
          padding: 0px;
        }
      }
    }
    &_img{
      width: 100%;
      margin-bottom: 20px;
      
      img{
        width: 100%;
      }
    }
    &_text{
      color: $fontBlack;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      width: 100%;
      
      p{
        margin-bottom: 20px;
      }
    }
    
  }
  
}





.big_slider{
  padding: 68px 34px 54px;
  &_content{
    .slick-arrow{
      background-color: $borderGreen;
      width: 73px;
      height: 73px;
      // position: relative;
      z-index: 10;
      bottom: -16px;
      top: auto;  
      &:before{
        // display: none;
        font-size: 0;
        width: 50px;
        height: 50px;
        display: block;
        background-color: #f8f8f8;
        opacity: 1;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // @include translate(-50%, -50%);
        @include translate(20%, 0%);
      }
      &.slick-prev{
        left: auto;
        right: 55px;
        &:before{
          background: #f8f8f8 url('../img/big_slider_arrow_prev.png') 50% 50% no-repeat;
        }
      }
      &.slick-next{
        right: 0px;
        width: 68px;
        &:before{
          background: #f8f8f8 url('../img/big_slider_arrow_next.png') 50% 50% no-repeat;
        }
      }
    }
  }
  &_img{
    position: relative;
    padding-bottom: 56.45%;
    overflow: hidden;
    img{
      position: absolute;
      height: 100%;
      left: 50%;
      @include translate(-50%, 0%);
    }
  }
}
@media all and (max-width: 768px){
  .big_slider{
    padding: 36px 0 44px;
  }
}




.partners{
  padding-bottom: 51px;
  .container{
  }
  &_content{
    padding-top: 53px;
    border-top: 1px solid #ced1d5;
  }
  .site_h{
    margin-bottom: 38px;
  }
  &_slider{
    margin-left: -15px;
    margin-right: -15px;
    font-size: 0;
    &_item{
      font-size: 14px;
      width: 100%;
      height: 215px;
      border-radius: 3px;
      border: 1px solid #ced1d5;
      background-color: #ffffff;
      position: relative;
      &_wrapper{
        padding: 15px;
        width: 33.33%;
        display: inline-block;
      }
    }
    &_img{
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      img{
        max-width: 100%;
        max-height: 110px;
      }
    }
  }
}
@media all and (max-width: 1230px){
  .big_slider{
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media all and (max-width: 991px){
  .partners_slider_item{
    height: 100%;
    &_wrapper{
      display: block;
      width: 304px;
      height: 194px;
    }
  }
  .partners_slider_img{
    width: 77%;
  }
}