.moscow_page{
  .breedcrumbs{
    padding-top: 44px;
    // padding-bottom: 44px;
    &_container{
      // background-color: #f8f8f8;
    }
  }
}

.moscow_headline{
  padding-top: 25px;
  padding-bottom: 24px;
  &_text{
    color: $borderGreen;
    font-size: 40px;
    font-weight: 700;
  }
}

.moscow_location{
  background-color: #f8f8f8;
  padding-bottom: 58px;
  padding-top: 24px;
  .container{
    font-size: 0;
    text-align: justify;
    &:after{
      content: '';
      width: 100%;
      display: inline-block;
    }
  }
  &_info{
    text-align: left;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-right: 15px;
    .site_h{
      margin-bottom: 39px;
    }
    &_block{
      margin-bottom: 18px;
      span{
        display: block;
        color: #999999;
        font-size: 16px;
        font-weight: 400;
      }
      p{
        display: block;
        color: $fontBlack;
        font-size: 21px;
        font-weight: 600;
      }
    }
    &_announcement{
      color: #999999;
      font-size: 18px;
      font-weight: 400;
      max-width: 380px;
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      padding-top: 13px;
      padding-bottom: 11px;
      span{
        // max-width: 186px;
        display: block;
      }
    }
  }
  &_map{
    max-width: 556px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    overflow: hidden;
  }
}

.moscow_payment{
  padding-top: 34px;
  padding-bottom: 41px;
  .container{
    font-size: 0;
  }
  .site_h{
    margin-bottom: 22px;
  }
  &_description{
    max-width: 930px;
    color: $fontBlack;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    a{
      color: $borderGreen;
      font-weight: 600;
      text-decoration: underline;
    }
  }
  &_h{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  ul{
    li{
      margin-bottom: 8px;
    }
  }
  &_table{
    margin-top: 25px;
    margin-bottom: 18px;
    font-size: 0;
    border: 1px solid #ced1d5;
    &.mob_table{
      display: none;
      width: 48%;
      // display: inline-block;
      vertical-align: top;
      & + .mob_table{
        margin-left: 4%;
      }
      .moscow_payment_table_h{
        &.green{
          background-color: $borderGreen;
          .moscow_payment_table_cell{
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
          }
        }
        .moscow_payment_table_cell{
          text-align: center;
          width: 100%;
        }
      }
      .moscow_payment_table_row{
        .moscow_payment_table_cell{
          width: 50%;
          text-align: center;
          &:first-child{
            padding-top: 10px;
            .distance{
              color: $borderGreen;
              font-size: 18px;
              font-weight: 700;
            }
          }
        }
      }
    }
    &_h{
      .moscow_payment_table_cell{
        padding-top: 10px;
        & > div{
          font-size: 14px;
          text-align: center;   
          &.distance{
            font-size: 18px;
            font-weight: 700;
            color: $borderGreen;
          }
        }
        &:first-child{
          font-weight: 700;
          
        }
      }
    }
    &_row{
      border-top: 1px solid #ced1d5;
      
    }
    &_cell{
      display: inline-block;
      vertical-align: top;
      // width: 16.66%;
      width: 14.285%;
      font-size: 18px;
      text-align: center;
      height: 59px;
      padding: 0 10px;
      padding-top: 19px;
      border-left: 1px solid #ced1d5;
      &:first-child{
        text-align: left;
        // width: 33.33%;
        width: 27.57%;
        padding-top: 19px;
        padding-left: 20px;
        border-left: none;
      }
      &:last-child{
        width: 15.285%;
        
      }
    }
    &_caption{
      color: $fontBlack;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 22px;
    }
  }
  
  &.moscov_participants{
    background-color: #f8f8f8;
    padding-top: 28px;
    padding-bottom: 14px;
    
    .moscow_payment_table_cell{
      background: #ffffff;
      width: 16.66%;
      &:first-child{
        font-weight: 400;
        width: 16.66%;
        padding-top: 10px;
        text-align: center;
      }
    }
  }
  &_list{
    margin-top: 26px;
    font-size: 16px;
    border-bottom: 1px solid #ced1d5;
    padding-bottom: 32px;
    margin-bottom: 26px;
    &_h{
      font-weight: 700;
      margin-bottom: 18px;
    }
    .green_dot_list{
      li{
        margin-bottom: 3px;
      }
    }
  }
  &_caption{
    font-size: 16px;
    b{
      font-weight: 700;
      color: $borderGreen;
    }
  }
}



.moscow_schedule{
  padding-top: 29px;
  padding-bottom: 23px;
  .container{
    
  }
  &_header{
    span{
      display: inline-block;
      vertical-align: middle;
    }
    span:not(.site_h){
      color: $fontBlack;
      font-size: 24px;
      font-weight: 400;
    }
    .site_h{
      margin-right: 7px;
    }
  }
  
  &_block{
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 19px;
    font-size: 0;
    &_left,
    &_right{
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }
  }
  &_item{
    padding: 12px;
    position: relative;
    border: 1px solid #ced1d5;
    min-height: 100%;
    display: table;
    width: 100%;
    &_wrapper{
      // display: inline-block;
      // vertical-align: middle;
      // width: 50%;
      min-height: 94px;
      height: 114px;
      padding: 10px 15px;
    }
  }
  &__time{
    position: absolute;
    left: 12px;
    top: 50%;
    @include translate(0, -50%);
    display: inline-block;
    vertical-align: middle;
    color: #999999;
    font-size: 30px;
    font-weight: 700;
    padding-right: 23px;
    border-right: 1px solid #ced1d5;
    span{
      color: $borderGreen;
    }
  }
  &__desc{
    padding-left: 131px;
    // display: inline-block;
    vertical-align: middle;
    display: table-cell;
    color: $fontBlack;
    font-size: 16px;
    font-weight: 400;
  }
}


.moscow_winner{
  padding-top: 60px;
  padding-bottom: 35px;
  .container{
    // font-size: 0;
    .site_h{
      margin-bottom: 34px;
    }
  }
  &_img{
    // width: 43%;
    // display: inline-block;
    // vertical-align: middle;
    // margin: auto;
    display: none;
    text-align: center;
    margin-bottom: 22px;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  &_caption{
    display: none;
    margin-bottom: 43px;
    b,
    span{
      display: block;
    }
  }
  
  &_text{
    // width: 57%;
    // display: inline-block;
    vertical-align: middle;
    // padding-left: 29px;
    // padding-top: 36px;
    margin-top: 36px;
    
    font-size: 16px;
    p{
      margin-bottom: 18px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &_h{
    margin-bottom: 26px;
    color: $fontBlack;
    font-size: 24px;
    font-weight: 700;
  }
  &_list{
    li{
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  
  
  &_table{
    margin-bottom: 34px;
    &_h{
      color: $fontBlack;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 14px;
    }
    &_mob{
      margin-bottom: 20px;
      display: none;  
    }
    .green{
      color: $borderGreen;
      font-size: 18px;
      font-weight: 700;
    }
    table{
      border-collapse: collapse;
      width: 100%;
      max-width: 1067px;
      td{
        border: 1px solid #ced1d5;
        padding-top: 23px;
        padding-bottom: 21px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        vertical-align: middle;
      }
    }
    thead{
      tr:first-child{
        font-weight: 700;
        td{
          width: 16.66%;
          &:first-child{
            padding-left: 15px;
            padding-right: 15px;  
          }
        }
      }
    }
    &_mob{
      thead{
        tr:first-child{
          font-weight: 400;
          
        }
      }
    }
  }
  
}

.questionnaire_block{
  border-bottom: 1px solid #ced1d5;
  padding-bottom: 27px;
  margin-bottom: 26px;
  & > .moscow_start_package_h:first-child{
    margin-bottom: 18px;
  }
}
.receipt_block{
  .moscow_start_package_link{
    a{
      
      background-color: #f8f8f8;
      border: 1px solid #ced1d5;
      color: $fontBlack;
      font-size: 16px;
      font-weight: 400;
      .fas{
        
        color: $borderGreen;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        line-height: 20px;
      }
    }
    
  }
}
.moscow_start_package{
  padding-bottom: 13px;
  .site_h{
    margin-bottom: 25px;
  }
  &_h{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }
  &_list{
    margin-bottom: 20px;
  }
  &_link{
    a{
      padding: 12px 49px;
      display: inline-block;
      background-color: $borderGreen;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
    .download_file_name{
      color: $fontBlack;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin-left: 19px;
    }
  }
  &_caption{
    line-height: 22px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    b{
      color: $borderGreen;
      font-weight: 700;
    }
  }
  &_announcement{
    color: #999999;
    font-size: 18px;
    font-weight: 400;
    max-width: 430px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-top: 13px;
    padding-bottom: 11px;
    margin-top: 28px;
  }
}



.moscow_gallery{
  padding-top: 13px;
  .container{
    
  }
  .site_h{
    
  }
  &_item{
    overflow: hidden;
    position: relative;
    &.squardPhto{
      padding-bottom: 119%;
    }
    &_wrapper{
      padding: 15px;
    }
    img{
      min-width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  &_grid{
    font-size: 0;
    margin-left: -15px;
    margin-right: -15px;
    &_col{
      // font-size: 14px;
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }
    &_left{
      .moscow_gallery_item{
        &_wrapper{
          &:nth-child(1){
            .moscow_gallery_item{
              padding-bottom: 56.45%;
            }
          }
          &:nth-child(2),
          &:nth-child(3){
            width: 50%;
            display: inline-block;
            vertical-align: top;
            .moscow_gallery_item{
              padding-bottom: 119%;
            }
          }
        }
      }
    }
    &_right{
      .moscow_gallery_item{
        &_wrapper{
          &:nth-child(3){
            .moscow_gallery_item{
              padding-bottom: 56.45%;
            }
          }
          &:nth-child(2),
          &:nth-child(1){
            width: 50%;
            display: inline-block;
            vertical-align: top;
            .moscow_gallery_item{
              padding-bottom: 119%;
            }
          }
        }
      }
    }
  }
  &_loadMore{
    text-align: center;
    padding: 27px 0 46px;
    a{
      border: 1px solid #ced1d5;
      background-color: #ffffff;
      padding: 15px 59px 13px;
      color: $fontBlack;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      position: relative;
      display: inline-block;
      &:after{
        content: '\f0dd';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: $borderGreen;
        font-size: 18px;
        position: relative;
        top: -3px;
        right: -4px;
        
      }
    }
  }
}

@media all and (max-width: 1155px){

  .jumbo.jumbo_other .jumbo_reg_link{
    top: 57%;
  }

}

@media all and (max-width: 1155px){
  .moscow_payment_description{
    margin-bottom: 0;
  }
  .moscow_payment_table{
    &.desktop_table{
      display: none;
    }
    &.mob_table{
      display: inline-block;
    }
  } 
}

@media all and (max-width: 1050px){
  .moscow_schedule_item_wrapper{
    height: 136px;
  }
}
@media all and (max-width: 991px){
  
  .moscow_winner_table_desc{
    display: none;
  }
  .moscow_winner_table_mob{
    display: block;
    // width: 48%;
    // display: inline-block;
  }
  
  .moscow_schedule_block{
    &_left,
    &_right{
      width: 100%;
    }
  }
  .moscow_schedule_item{
    padding: 15px 12px 16px;  
  }
  .moscow_schedule_item_wrapper{
    height: auto;
    min-height: auto;
  }

  .moscow_gallery{
    .site_h{
      padding-bottom: 15px;
    }
  }
  .moscow_gallery_grid_col{
    width: 100% !important;
  }
  .moscow_gallery_item_wrapper{
    width: 100% !important;
    padding: 3px 15px;
  }
  .moscow_gallery_item{
    padding-bottom: 56.45% !important;
  }

}

@media all and (max-width: 855px){
  
  .site_h{
    font-size: 24px !important;
  }
  
  .moscow_location{
    &_info,
    &_map{
      width: 100%;
    }
    &_map{
      margin-top: 30px;
    }
  }
  
  .moscow_payment{
    &.moscov_participants{
      .moscow_payment_table{
        &_h{
          width: 50%;
          display: inline-block;
          vertical-align: top;
          .moscow_payment_table_cell{
            border-left: none;
          }
        }
        &_row{
          width: 50%;
          display: inline-block;
          vertical-align: top;
          border: none;
        }
        &_cell{
          display: block;
          width: 100% !important;
          border-bottom: 1px solid #ced1d5;
          border-left: 1px solid #ced1d5;
          &:last-child{
            border-bottom: none;
          }
        }
      }
    }
  }
  .moscow_payment_table.mob_table{
    width: 100%;
    & + .mob_table{
      margin-left: 0;
    }
  }
  
  .moscow_winner{
    &_list{
      span{
        display: block; 
        margin-bottom: 18px;
      }
    }
  }
  .moscow_schedule{
    padding-top: 20px;
    &_header{
      span:not(.site_h){
        color: $borderGreen;
        display: block;
        font-weight: 600;
        margin-top: 7px;
      }
      span.site_h + span{
        display: none;
      }
    }
  }
  
  .moscow_start_package_link .download_file_name{
    display: block;
    margin-top: 11px;
    margin-left: 0;
  }
  
}


@media all and (max-width:  768px){
  .jumbo.jumbo_other{
    min-height: 109px;
  }
  .jumbo.jumbo_other .jumbo_reg_link{
    display: none;
  }
  .jumbo.jumbo_other .jumbo_timer{
    bottom: 28px;
  }
  .jumbo.jumbo_other .jumbo_timer_clock{
    text-align: center;

  }
  
  .moscow_payment_table_cell:first-child{
    padding-left: 8px;
    padding-right: 8px;
  }
}