
$max_width: 1140px;
$content_padd_left: 20px;
$content_padd_right: 20px;

$minwidth: 320px;
$max_width_text: 1020px;


/*Colors*/
$black: #000;
$white: #fff;


$fontBlack: #262626;
$borderGreen: #08a652;
$green: #19bb4f;
$darkGreen: #09341d;