@charset "UTF-8";
/*Colors*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic-ext");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 375px;
  font-family: 'SBSansUI';
  font-weight: 400;
  max-width: 1920px;
  margin: 0 auto; }

main {
  padding-top: 162px; }

@media all and (max-width: 550px) {
  main {
    padding-top: 131px; } }

.container {
  width: 100%;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 375px; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

a {
  color: inherit; }

ul, ol, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

input[type="submit"],
button {
  cursor: pointer;
  outline: none;
  -webkit-appearance: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style-type: none; }

img {
  vertical-align: top; }

@font-face {
  font-family: 'SBSansUI';
  src: url("../fonts/SBSansUI_Light/fonts/SBSansUI_Light.eot");
  src: local("☺"), url("../fonts/SBSansUI_Light/fonts/SBSansUI_Light.ttf") format("truetype"), url("../fonts/SBSansUI_Light/fonts/SBSansUI_Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SBSansUI';
  src: url("../fonts/SBSansUI_Regular/fonts/SBSansUI_Regular.eot");
  src: local("☺"), url("../fonts/SBSansUI_Regular/fonts/SBSansUI_Regular.ttf") format("truetype"), url("../fonts/SBSansUI_Regular/fonts/SBSansUI_Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'SBSansUI';
  src: url("../fonts/SBSansUI_Semibold/fonts/SBSansUI_Semibold.eot");
  src: local("☺"), url("../fonts/SBSansUI_Semibold/fonts/SBSansUI_Semibold.ttf") format("truetype"), url("../fonts/SBSansUI_Semibold/fonts/SBSansUI_Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SBSansUI';
  src: url("../fonts/SBSansUI_Bold/fonts/SBSansUI_Bold.eot");
  src: local("☺"), url("../fonts/SBSansUI_Bold/fonts/SBSansUI_Bold.ttf") format("truetype"), url("../fonts/SBSansUI_Bold/fonts/SBSansUI_Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontAwesome/fontawesome-webfont.svg") format("svg");
  src: url("../fonts/fontAwesome/fontawesome-webfont.eot");
  font-weight: 700;
  font-style: normal; }

.site_h {
  color: #262626;
  font-size: 36px;
  font-weight: 600; }

.dropdown_list {
  display: none;
  position: relative;
  z-index: 10;
  background: #fff;
  border: 1px solid #ced1d5;
  padding: 10px 0px; }
  .dropdown_list_item {
    padding: 0 20px;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 18px; }

.dropdown_caption {
  padding: 15px 20px;
  color: #262626;
  font-size: 18px;
  font-weight: 300;
  height: 100%;
  cursor: pointer; }

.radioField {
  display: inline-block;
  vertical-align: middle; }
  .radioField input {
    display: none; }
    .radioField input:checked + label:before {
      border: 2px solid #08a652; }
    .radioField input:checked + label:after {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 20px;
      position: absolute;
      top: 8px;
      left: 5px;
      background: #08a652;
      transition: 0.25 ease;
      -webkit-transition: 0.25 ease;
      -moz-transition: 0.25 ease;
      -ms-transition: 0.25 ease;
      -o-transition: 0.25 ease; }
  .radioField label {
    margin-right: 17px;
    padding-left: 23px;
    position: relative; }
    .radioField label:before {
      content: '';
      width: 18px;
      height: 18px;
      border-radius: 18px;
      border: 2px solid #999999;
      display: block;
      position: absolute;
      top: 3px;
      left: 0;
      transition: 0.25 ease;
      -webkit-transition: 0.25 ease;
      -moz-transition: 0.25 ease;
      -ms-transition: 0.25 ease;
      -o-transition: 0.25 ease; }

.checkField input {
  display: none; }
  .checkField input:checked + label:before {
    border: 2px solid #08a652; }
  .checkField input:checked + label:after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 2px;
    position: absolute;
    top: 5px;
    left: 4px;
    background: #08a652;
    transition: 0.25 ease;
    -webkit-transition: 0.25 ease;
    -moz-transition: 0.25 ease;
    -ms-transition: 0.25 ease;
    -o-transition: 0.25 ease; }

.checkField label {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  padding-left: 23px; }
  .checkField label:before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 2px solid #262626;
    display: block;
    margin-top: 1px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.25 ease;
    -webkit-transition: 0.25 ease;
    -moz-transition: 0.25 ease;
    -ms-transition: 0.25 ease;
    -o-transition: 0.25 ease; }
  .checkField label.error:before {
    border: 2px solid red; }

.site_link {
  color: #08a652;
  text-decoration: underline; }

.justify_block {
  text-align: justify;
  font-size: 0; }
  .justify_block:after {
    content: '';
    width: 100%;
    display: inline-block; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.clear_fix:after {
  content: '';
  display: table;
  clear: both; }

.jumbo.jumbo_other {
  background: url("../img/jumbo_other_bg.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  min-height: 181px;
  padding-bottom: 0;
  z-index: 1; }
  .jumbo.jumbo_other .jumbo_timer {
    bottom: 50px; }
    .jumbo.jumbo_other .jumbo_timer_h {
      display: none; }
    .jumbo.jumbo_other .jumbo_timer_clock {
      text-align: left; }
  .jumbo.jumbo_other .jumbo_reg_link {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 15;
    width: 100%;
    height: 55px; }
    .jumbo.jumbo_other .jumbo_reg_link .container {
      position: relative; }
    .jumbo.jumbo_other .jumbo_reg_link a {
      position: absolute;
      right: 15px;
      display: block;
      width: 263px;
      height: 55px;
      border-radius: 4px;
      border: 1px solid #19bb4f;
      background-color: #19bb4f;
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      padding-top: 10px;
      text-align: center; }

.green_dot_list li {
  padding-left: 20px;
  position: relative; }
  .green_dot_list li:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background: #08a652;
    display: block;
    position: absolute;
    left: 0;
    top: 7px; }

/*
.registration-form #adult_form,
.registration-form #children_form,
.registration-form .add_kid_form_btn{
  display: none;
}
#children_form .children-form{
  display: none;
}
#children_form .children-form.active {
  display: block;
}

*/
.header {
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 15;
  min-width: 375px; }
  .header_top {
    border-bottom: 1px solid #ced1d5;
    -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11);
            box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11);
    padding: 16px 0; }
    .header_top .container {
      position: relative;
      text-align: justify;
      font-size: 0; }
      .header_top .container:after {
        content: '';
        width: 100%;
        display: inline-block; }
    .header_top_left {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      text-align: justify;
      font-size: 0; }
      .header_top_left:after {
        content: '';
        width: 100%;
        display: inline-block; }
    .header_top_right {
      position: absolute;
      right: 15px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      display: inline-block;
      vertical-align: middle;
      display: none; }
  .header_logo {
    display: inline-block;
    vertical-align: middle; }
    .header_logo.header_company {
      margin-right: 48px; }
    .header_logo.header_partner {
      margin-right: 58px; }
  .header_soc {
    display: inline-block;
    vertical-align: middle; }
    .header_soc__link {
      margin-right: 22px; }
      .header_soc__link:last-child {
        margin-right: 0; }
      .header_soc__link img {
        opacity: 0.25; }
  .header_location {
    margin-left: 40px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px; }
    .header_location_caption {
      display: inline-block;
      vertical-align: middle; }
      .header_location_caption i {
        color: #19bb4f;
        font-size: 16px; }
    .header_location_dropdown {
      display: inline-block;
      vertical-align: middle;
      position: relative; }
      .header_location_dropdown .dropdown_caption {
        color: #262626;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        padding: 0;
        padding-right: 10px; }
        .header_location_dropdown .dropdown_caption:after {
          content: '\f0dd';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          font-size: 14px;
          color: #999999;
          border: none;
          -webkit-transform: translate(0, -65%) rotate(0deg);
          transform: translate(0, -65%) rotate(0deg);
          position: absolute;
          top: 50%;
          right: 0px; }
      .header_location_dropdown .dropdown_list {
        position: absolute;
        right: 0;
        margin-top: 5px;
        min-width: 100%;
        padding: 5px; }
        .header_location_dropdown .dropdown_list_item {
          margin-bottom: 4px; }
  .header_bottom {
    -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11);
            box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11);
    border: 1px solid #ced1d5; }
  .header_nav {
    font-size: 0;
    text-align: justify; }
    .header_nav:after {
      content: '';
      width: 100%;
      display: inline-block; }
    .header_nav_item {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      padding: 25px 0 21px; }
      .header_nav_item:first-child {
        padding-left: 25px; }
        .header_nav_item:first-child:before {
          content: '\f015';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          color: #19bb4f;
          font-size: 14px;
          position: absolute;
          top: 50%;
          left: 0;
          -webkit-transform: translate(0, -35%);
          transform: translate(0, -35%); }
      .header_nav_item.with_list .header_nav_item__link {
        position: relative;
        padding-right: 15px; }
        .header_nav_item.with_list .header_nav_item__link:after {
          content: '\f0dd';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          color: #19bb4f;
          font-size: 18px;
          position: absolute;
          top: 50%;
          right: 0;
          -webkit-transform: translate(0, -75%);
          transform: translate(0, -75%); }
      .header_nav_item.with_list:hover .submenu_list_container {
        display: block; }
      .header_nav_item .submenu_list {
        display: inline-block;
        vertical-align: top;
        margin-right: 56px; }
        .header_nav_item .submenu_list:last-child {
          margin-right: 0; }
        .header_nav_item .submenu_list_container {
          position: absolute;
          z-index: -1;
          padding: 40px 26px 26px;
          background-color: #ffffff;
          width: 474px;
          left: -25px;
          display: none; }
          .header_nav_item .submenu_list_container:hover {
            display: block; }
        .header_nav_item .submenu_list__item {
          color: #000000;
          font-size: 16px;
          font-weight: 400;
          line-height: 48px;
          text-transform: uppercase; }
      .header_nav_item__link {
        text-transform: uppercase;
        font-size: 14px; }
  .header_mob {
    display: none;
    height: 62px;
    padding-top: 21px; }
    .header_mob .menu_btn {
      padding-left: 43px;
      position: relative;
      height: 22px; }
      .header_mob .menu_btn.active .menu_btn_icon span {
        background: #999999; }
        .header_mob .menu_btn.active .menu_btn_icon span:nth-child(1) {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .header_mob .menu_btn.active .menu_btn_icon span:nth-child(2) {
          opacity: 0; }
        .header_mob .menu_btn.active .menu_btn_icon span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
      .header_mob .menu_btn.active .menu_btn_caption {
        color: #08a652; }
      .header_mob .menu_btn_icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 27px;
        height: 100%; }
        .header_mob .menu_btn_icon span {
          width: 27px;
          height: 3px;
          background: #000;
          display: block;
          margin-bottom: 7px;
          transition: 0.25s ease;
          -webkit-transition: 0.25s ease;
          -moz-transition: 0.25s ease;
          -ms-transition: 0.25s ease;
          -o-transition: 0.25s ease; }
          .header_mob .menu_btn_icon span:nth-child(1) {
            -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%; }
          .header_mob .menu_btn_icon span:nth-child(3) {
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%; }
          .header_mob .menu_btn_icon span:last-child {
            margin-bottom: 0; }
      .header_mob .menu_btn_caption {
        font-size: 16px;
        color: #262626;
        transition: 0.25s ease;
        -webkit-transition: 0.25s ease;
        -moz-transition: 0.25s ease;
        -ms-transition: 0.25s ease;
        -o-transition: 0.25s ease; }

.registration_mob_link {
  display: none; }

@media all and (max-width: 930px) {
  .header .helpers_block {
    display: none; }
    .header .helpers_block_item {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background-color: #08a652;
      color: #ffffff;
      font-family: "Font Awesome 5 Free";
      font-size: 11px;
      font-weight: 900;
      position: relative;
      float: right;
      margin-left: 7px;
      margin-top: -28px; }
      .header .helpers_block_item i {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  .header_top_right {
    display: none; }
  .header_top_left {
    width: 100%;
    text-align: justify;
    font-size: 0;
    padding-right: 0; }
    .header_top_left:after {
      content: '';
      display: inline-block;
      width: 100%; }
  .header_logo {
    margin: 0 !important; }
    .header_logo:nth-child(1) {
      text-align: left; }
    .header_logo:nth-child(2) {
      text-align: center; }
    .header_logo:nth-child(3) {
      text-align: right; }
    .header_logo img {
      max-width: 100%; }
  .header_mob {
    display: block; }
  .header_bottom {
    position: absolute;
    z-index: 50;
    background-color: #f8f8f8;
    width: 100%;
    top: 62px;
    padding-top: 27px;
    padding-bottom: 186px;
    display: none; }
  .header_nav_item {
    display: block;
    padding: 10px 0;
    position: relative; }
    .header_nav_item:first-child {
      padding-left: 0; }
      .header_nav_item:first-child:before {
        display: none; }
    .header_nav_item:after {
      content: '\f105';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 16px;
      color: #999999;
      float: right; }
    .header_nav_item .submenu_list {
      display: block; }
      .header_nav_item .submenu_list_container {
        background: #f8f8f8;
        position: static;
        padding: 10px 20px; }
      .header_nav_item .submenu_list__item {
        padding: 10px 0;
        line-height: 18px; }
  .registration_mob_link {
    display: block;
    margin-right: -15px;
    margin-left: -15px;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .registration_mob_link a {
      display: block;
      border-top: 1px solid #ced1d5;
      padding: 25px 15px;
      text-transform: uppercase;
      font-weight: 600; }
      .registration_mob_link a:after {
        content: '\f105';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 16px;
        color: #08a652;
        margin-top: 2px;
        float: right; } }

@media all and (max-width: 550px) {
  .header_logo img {
    max-height: 37px; }
  .header_logo.header_company img {
    max-height: 25px; } }

.footer {
  background-color: #262626; }
  .footer_top {
    padding-top: 33px;
    padding-bottom: 40px;
    font-size: 0;
    text-align: justify;
    border-bottom: 1px solid #999999; }
    .footer_top:after {
      content: '';
      display: inline-block;
      width: 100%; }
    .footer_top > div {
      display: inline-block;
      vertical-align: top; }
  .footer_soc {
    padding-top: 9px; }
    .footer_soc__link {
      margin-right: 22px; }
      .footer_soc__link:last-child {
        margin-right: 0; }
  .footer_nav {
    display: inline-block;
    width: 100%;
    font-size: 0;
    text-align: justify;
    padding-left: 293px;
    margin-top: 18px; }
    .footer_nav:after {
      content: '';
      display: inline-block;
      width: 100%; }
    .footer_nav_item {
      display: inline-block;
      vertical-align: middle; }
      .footer_nav_item__link {
        text-transform: uppercase;
        font-size: 12px;
        color: #ffffff; }
  .footer_bottom {
    padding-top: 39px;
    padding-bottom: 47px;
    text-align: justify;
    font-size: 0; }
    .footer_bottom:after {
      content: '';
      width: 100%;
      display: inline-block; }
    .footer_bottom_left {
      color: #ffffff;
      font-size: 13px;
      line-height: 18px;
      display: inline-block;
      vertical-align: top;
      max-width: 547px; }
      .footer_bottom_left p {
        margin-bottom: 7px; }
        .footer_bottom_left p:last-child {
          margin-bottom: 0; }
    .footer_bottom_right {
      display: inline-block;
      vertical-align: top;
      max-width: 263px;
      text-align: right;
      float: right; }
    .footer_bottom_btn {
      display: inline-block;
      width: 263px;
      height: 50px;
      border: 1px solid #19bb4f;
      background-color: #08a652;
      color: #ffffff;
      font-size: 16px;
      text-align: center;
      padding-top: 13px;
      display: inline-block;
      margin-bottom: 15px; }
    .footer_bottom_link {
      color: #ffffff;
      font-size: 13px;
      font-weight: 400; }

@media all and (max-width: 1100px) {
  .footer_nav {
    padding-left: 0;
    margin-top: 20px; } }

@media all and (max-width: 890px) {
  .footer_nav {
    padding-left: 0;
    margin-top: 20px; }
  .footer_bottom_left {
    max-width: 300px; } }

@media all and (max-width: 720px) {
  .footer_top {
    border-bottom: none;
    padding-bottom: 0; }
  .footer_soc {
    display: none !important; }
  .footer_nav_item {
    display: block;
    padding: 12px 0 14px;
    border-bottom: 1px solid #999; }
    .footer_nav_item:last-child {
      border-bottom: none; }
  .footer_bottom {
    padding-top: 20px; }
    .footer_bottom_left {
      max-width: none; }
    .footer_bottom_right {
      max-width: none;
      margin-bottom: 38px;
      float: none;
      display: block;
      text-align: left; }
    .footer_bottom_link {
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      font-size: 18px;
      display: block;
      padding: 12px 0 14px;
      margin-top: 18px; } }

.step_counter {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ced1d5; }
  .step_counter_h {
    color: #262626; }
  .step_counter_item {
    color: #08a652; }

.registration {
  padding: 72px 0 100px;
  min-height: 651px; }
  .registration_header {
    margin-bottom: 25px;
    font-size: 0;
    text-align: justify;
    text-align: justify; }
    .registration_header:after {
      content: '';
      width: 100%;
      display: inline-block; }
    .registration_header * {
      display: inline-block;
      vertical-align: middle; }
  .registration_form form {
    margin-left: -15px;
    margin-right: -15px;
    font-size: 0; }
  .registration_form_block {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    width: 33.33%;
    padding: 20px 15px; }
    .registration_form_block .requiredField.error_field,
    .registration_form_block .phoneBlock.error_field {
      -webkit-box-shadow: 0 0 1px 1px red;
      box-shadow: 0 0 1px 1px red; }
    .registration_form_block .radioField.error_field {
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .registration_form_block .radioField.error_field label:before {
        border: 2px solid red; }
    .registration_form_block.phoneBlock, .registration_form_block.withTwoSelects {
      font-size: 0; }
      .registration_form_block.phoneBlock .selectField,
      .registration_form_block.phoneBlock .formInput, .registration_form_block.withTwoSelects .selectField,
      .registration_form_block.withTwoSelects .formInput {
        display: inline-block;
        vertical-align: middle; }
    .registration_form_block .withTwoSelects_container {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      padding: 0 15px; }
      .registration_form_block .withTwoSelects_container:first-child {
        padding-left: 0; }
      .registration_form_block .withTwoSelects_container:last-child {
        padding-right: 0; }
      .registration_form_block .withTwoSelects_container .selectField {
        width: 100%; }
    .registration_form_block.phoneBlock,
    .registration_form_block .phoneBlock {
      position: relative; }
      .registration_form_block.phoneBlock .selectField,
      .registration_form_block .phoneBlock .selectField {
        width: 55px;
        position: absolute;
        top: 50%;
        left: 0px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }
        .registration_form_block.phoneBlock .selectField .dropdown_caption,
        .registration_form_block .phoneBlock .selectField .dropdown_caption {
          border-radius: 4px 0 0 4px;
          border-right: none; }
      .registration_form_block.phoneBlock .formInput,
      .registration_form_block .phoneBlock .formInput {
        width: 100%; }
        .registration_form_block.phoneBlock .formInput input,
        .registration_form_block .phoneBlock .formInput input {
          border-radius: 0 4px 4px 0; }
      .registration_form_block.phoneBlock .dropdown_caption,
      .registration_form_block .phoneBlock .dropdown_caption {
        padding: 15px 12px; }
        .registration_form_block.phoneBlock .dropdown_caption:before,
        .registration_form_block .phoneBlock .dropdown_caption:before {
          display: none; }
        .registration_form_block.phoneBlock .dropdown_caption:after,
        .registration_form_block .phoneBlock .dropdown_caption:after {
          content: '\f0d7';
          font-family: 'FontAwesome';
          font-size: 14px;
          color: #999999;
          border: none;
          -webkit-transform: translate(0, -50%) rotate(0deg);
          transform: translate(0, -50%) rotate(0deg);
          right: 6px; }
  .registration_form_caption {
    display: inline-block;
    vertical-align: middle;
    margin-right: 19px; }
  .registration_form .radioField {
    display: inline-block;
    vertical-align: middle; }
    .registration_form .radioField input {
      display: none; }
      .registration_form .radioField input:checked + label:before {
        border: 2px solid #08a652; }
      .registration_form .radioField input:checked + label:after {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 20px;
        position: absolute;
        top: 8px;
        left: 5px;
        background: #08a652;
        transition: 0.25 ease;
        -webkit-transition: 0.25 ease;
        -moz-transition: 0.25 ease;
        -ms-transition: 0.25 ease;
        -o-transition: 0.25 ease; }
    .registration_form .radioField label {
      margin-right: 17px;
      padding-left: 23px;
      position: relative; }
      .registration_form .radioField label:before {
        content: '';
        width: 18px;
        height: 18px;
        border-radius: 18px;
        border: 2px solid #999999;
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        transition: 0.25 ease;
        -webkit-transition: 0.25 ease;
        -moz-transition: 0.25 ease;
        -ms-transition: 0.25 ease;
        -o-transition: 0.25 ease; }
  .registration_form .checkField input {
    display: none; }
    .registration_form .checkField input:checked + label:before {
      border: 2px solid #08a652; }
    .registration_form .checkField input:checked + label:after {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 2px;
      position: absolute;
      top: 5px;
      left: 4px;
      background: #08a652;
      transition: 0.25 ease;
      -webkit-transition: 0.25 ease;
      -moz-transition: 0.25 ease;
      -ms-transition: 0.25 ease;
      -o-transition: 0.25 ease; }
  .registration_form .checkField label {
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-left: 23px; }
    .registration_form .checkField label:before {
      content: '';
      width: 18px;
      height: 18px;
      border-radius: 2px;
      border: 2px solid #262626;
      display: block;
      margin-top: 1px;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.25 ease;
      -webkit-transition: 0.25 ease;
      -moz-transition: 0.25 ease;
      -ms-transition: 0.25 ease;
      -o-transition: 0.25 ease; }
    .registration_form .checkField label.error:before {
      border: 2px solid red; }
  .registration_form .selectField {
    position: relative; }
  .registration_form .dropdown_list {
    max-height: 250px;
    position: absolute;
    width: 100%; }
  .registration_form_rules {
    width: 100%;
    padding-top: 30px;
    padding-right: 20px; }
    .registration_form_rules_content {
      color: #262626;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.63px; }
      .registration_form_rules_content ol {
        margin-top: 31px;
        padding-left: 25px; }
      .registration_form_rules_content li {
        margin-bottom: 15px; }
  .registration_output_content {
    font-size: 0;
    margin-left: -15px;
    margin-right: -15px; }
  .registration_output_block {
    width: 33.33%;
    display: inline-block;
    vertical-align: bottom;
    padding: 13px 15px; }
    .registration_output_block.withTwo .registration_output_wrap {
      width: 50%;
      font-size: 0;
      display: inline-block; }
      .registration_output_block.withTwo .registration_output_wrap:first-child {
        padding-right: 15px; }
      .registration_output_block.withTwo .registration_output_wrap:last-child {
        padding-left: 15px; }
  .registration_output_label {
    padding-left: 21px;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px; }
  .registration_output_item {
    border: 1px solid #ced1d5;
    border-radius: 4px;
    background-color: #ffffff;
    color: #262626;
    font-size: 18px;
    font-weight: 400;
    padding: 16px 21px; }
  .registration_output_kid {
    margin-top: 38px; }
    .registration_output_kid_h {
      padding-right: 20px;
      position: relative;
      color: #262626;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 30px; }
      .registration_output_kid_h:after {
        content: '';
        width: 165px;
        height: 2px;
        background-color: #08a652;
        position: absolute;
        bottom: -7px;
        left: 0; }
  .registration_end {
    text-align: center; }
    .registration_end .site_h {
      margin-bottom: 20px; }
    .registration_end_block b {
      font-weight: 600; }
    .registration_end_block p {
      margin-top: 5px; }
      .registration_end_block p span {
        color: #08a652;
        font-weight: 600; }

.hidden_form {
  border-top: 2px solid #08a652;
  padding-top: 57px; }
  .hidden_form_wrapper {
    padding: 26px 15px 0px; }
  .hidden_form_h {
    color: #999999;
    font-size: 16px;
    font-weight: 400; }
  .hidden_form_block {
    margin-left: -15px;
    margin-right: -15px; }

.add_kid_form_btn {
  font-size: 18px;
  text-align: center;
  line-height: 48px;
  background-color: #f2f2f2;
  margin-top: 15px;
  margin-bottom: 19px;
  cursor: pointer; }
  .add_kid_form_btn i {
    color: #08a652;
    margin-right: 5px; }
  .add_kid_form_btn span {
    color: #262626;
    font-weight: 300; }

.formInput input {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  border: 1px solid #ced1d5;
  background-color: #ffffff;
  padding: 20px;
  color: #262626;
  font-size: 18px;
  font-weight: 300; }

.formSubmit button {
  width: 100%;
  height: 55px;
  border-radius: 4px;
  background-color: #262626;
  color: #fff;
  font-size: 24px;
  font-weight: 400; }

.select_dropdown {
  min-height: 56px;
  background-color: #ffffff; }
  .select_dropdown .dropdown_caption {
    border-radius: 4px;
    border: 1px solid #ced1d5;
    position: relative;
    padding-right: 65px;
    transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -ms-transition: 0.25s ease;
    -o-transition: 0.25s ease; }
    .select_dropdown .dropdown_caption.active {
      border-radius: 4px 4px 0 0; }
    .select_dropdown .dropdown_caption:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 55px;
      border-left: 1px solid #ced1d5; }
    .select_dropdown .dropdown_caption:after {
      content: '';
      width: 12px;
      height: 12px;
      border-left: 3px solid #08a652;
      border-bottom: 3px solid #08a652;
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      -webkit-transform: translate(0, -70%) rotate(-45deg);
      transform: translate(0, -70%) rotate(-45deg); }
  .select_dropdown .dropdown_list {
    border-top: none; }

.step_two_content {
  margin-top: 60px; }

.step_two_img {
  margin-bottom: 24px; }
  .step_two_img img {
    max-width: 100%; }

.step_two_text {
  max-width: 642px;
  margin-bottom: 28px; }

.step_two_form .registration_form_block {
  padding: 0; }
  .step_two_form .registration_form_block label {
    color: #262626; }

.step_two_buttons {
  padding-top: 137px;
  text-align: justify;
  font-size: 0;
  margin-left: -15px;
  margin-right: -15px; }
  .step_two_buttons:after {
    content: '';
    width: 100%;
    display: inline-block; }
  .step_two_buttons .registration_form_block {
    padding: 13px 15px; }

.backButton button {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  border: 1px solid #ced1d5;
  background-color: #f8f8f8;
  color: #262626;
  font-size: 24px;
  font-weight: 400; }

@media all and (max-width: 1085px) {
  .registration_output_block,
  .registration_form_block {
    width: 50%; }
  .hidden_form_block .registration_form_block:nth-child(3) {
    display: none; } }

@media all and (max-width: 768px) {
  .registration_form_rules {
    padding-left: 15px; }
  .registration_output_block,
  .registration_form_block {
    width: 100%; }
    .registration_output_block.mob_gray,
    .registration_form_block.mob_gray {
      background-color: #f2f2f2; }
    .registration_output_block .registration_form_caption,
    .registration_form_block .registration_form_caption {
      margin-bottom: 10px; }
    .registration_output_block .registration_form_caption,
    .registration_output_block .radioField,
    .registration_form_block .registration_form_caption,
    .registration_form_block .radioField {
      width: 100%;
      text-align: center; }
    .registration_output_block .checkField,
    .registration_form_block .checkField {
      text-align: center; }
  .step_two_img {
    padding-right: 15px; } }

.breedcrumbs ul li {
  font-size: 14px;
  color: #999999;
  display: inline-block;
  padding-right: 25px; }
  .breedcrumbs ul li a {
    position: relative; }
    .breedcrumbs ul li a:after {
      content: '\f105';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 14px;
      color: #999999;
      opacity: 0.8;
      position: absolute;
      right: -18px;
      top: 3px; }

.jumbo {
  width: 100%;
  min-height: 622px;
  background: url("../img/jumbo_bg.png") 100% 50% no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 205px;
  overflow: hidden; }
  .jumbo .running_container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    pointer-events: none; }
  .jumbo .running_img {
    position: absolute;
    bottom: 0;
    right: 250px; }
  .jumbo_text {
    padding: 30px 0 30px;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 43%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    overflow: hidden; }
    .jumbo_text_bg {
      position: absolute;
      top: 50%;
      right: 11%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      z-index: -1;
      width: 100%;
      min-width: 1920px;
      height: 100%; }
      .jumbo_text_bg img {
        width: 100%;
        height: 100%; }
    .jumbo_text .container {
      padding-bottom: 0;
      height: auto; }
    .jumbo_text_h {
      font-size: 74px; }
    .jumbo_text_caption {
      max-width: 604px;
      font-size: 18px; }
  .jumbo_timer {
    position: absolute;
    bottom: 226px;
    width: 100%;
    z-index: 10; }
    .jumbo_timer .container {
      position: relative; }
    .jumbo_timer_h {
      margin-bottom: 19px;
      text-align: right; }
      .jumbo_timer_h span {
        color: #ffffff;
        font-size: 48px;
        font-weight: 700;
        display: block; }
        .jumbo_timer_h span:nth-child(1) {
          font-size: 75px; }
    .jumbo_timer_clock {
      text-align: right; }
      .jumbo_timer_clock .lightTimerBlock {
        display: inline-block;
        border-radius: 5px;
        background-color: #ffffff;
        padding: 5px 10px 7px;
        text-align: center;
        margin-left: 19px;
        width: 125px;
        color: #262626; }
        .jumbo_timer_clock .lightTimerBlock:first-child {
          width: 154px;
          background-color: #19bb4f;
          color: #fff; }
        .jumbo_timer_clock .lightTimerBlock:last-child {
          margin-right: 0; }
      .jumbo_timer_clock .lightTimerСaptionSpan {
        font-size: 15px;
        font-weight: 400;
        display: block; }
      .jumbo_timer_clock .lightTimerNumberSpan {
        font-size: 49px;
        font-weight: 700;
        line-height: 51px;
        display: block; }

@media all and (max-width: 1135px) {
  .jumbo_text_h {
    font-size: 50px; }
  .jumbo_text_caption {
    font-size: 14px;
    max-width: 400px; } }

@media all and (max-width: 1085px) {
  .jumbo .running_img {
    right: 150px; }
  .jumbo_timer_clock .lightTimerСaptionSpan {
    font-size: 11px;
    line-height: 12px; }
  .jumbo_timer_clock .lightTimerNumberSpan {
    font-size: 30px;
    line-height: 32px; }
  .jumbo_timer_clock .lightTimerBlock {
    padding-left: 21px;
    padding-right: 21px;
    width: 75px;
    padding: 5px;
    text-align: center; }
    .jumbo_timer_clock .lightTimerBlock:first-child {
      width: 93px; } }

@media all and (max-width: 890px) {
  .jumbo .running_img {
    right: 50px; }
  .jumbo_text_caption {
    max-width: 300px; } }

@media all and (max-width: 768px) {
  .jumbo {
    min-height: 430px;
    padding-bottom: 85px; }
    .jumbo .running_img {
      height: 330px;
      right: 50%;
      bottom: 50%;
      -webkit-transform: translate(50%, 42%);
      transform: translate(50%, 42%); }
      .jumbo .running_img img {
        height: 100%; }
  .jumbo_timer {
    bottom: 21px; }
    .jumbo_timer .container {
      padding: 0; }
    .jumbo_timer_h {
      display: none; }
    .jumbo_timer_clock {
      padding-top: 15px;
      text-align: center; }
      .jumbo_timer_clock .lightTimerBlock {
        width: 75px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 13px; }
        .jumbo_timer_clock .lightTimerBlock:first-child {
          margin-left: 0;
          width: 93px; }
  .jumbo_text_bg {
    height: 113px;
    right: auto;
    top: 27%; }
  .jumbo_text_h {
    width: 181px;
    font-size: 42px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 30px; }
  .jumbo_text_caption {
    color: #262626;
    font-size: 14px; } }

.about_project {
  background: #ffffff;
  padding: 61px 0 80px; }
  .about_project .site_h {
    margin-bottom: -35px; }
  .about_project_row {
    margin-bottom: 43px;
    font-size: 0;
    max-width: 100%; }
    .about_project_row > div {
      display: inline-block;
      vertical-align: top; }
    .about_project_row:last-child {
      margin-bottom: 0; }
    .about_project_row.left_img .about_project_img {
      padding-right: 15px; }
    .about_project_row.left_img .about_project_text {
      padding-left: 15px; }
    .about_project_row.right_img {
      position: relative; }
      .about_project_row.right_img .about_project_img {
        padding-left: 15px;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        max-height: 300px; }
      .about_project_row.right_img .about_project_text {
        padding-right: 15px;
        padding-top: 61px; }
  .about_project_img {
    width: 50%; }
    .about_project_img img {
      width: 100%; }
  .about_project_text {
    color: #262626;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    width: 50%; }
    .about_project_text p {
      margin-bottom: 40px; }
      .about_project_text p:last-child {
        margin-bottom: 0; }

@media all and (max-width: 991px) {
  .about_project {
    padding: 43px 0 30px; }
    .about_project .site_h {
      margin-bottom: 32px; }
    .about_project_row {
      margin-bottom: 20px; }
      .about_project_row > div {
        display: block; }
      .about_project_row.left_img .about_project_img {
        padding: 0; }
      .about_project_row.left_img .about_project_text {
        padding: 0; }
      .about_project_row.right_img {
        position: relative; }
        .about_project_row.right_img .about_project_img {
          position: static;
          max-height: none;
          padding: 0; }
        .about_project_row.right_img .about_project_text {
          padding: 0px; }
    .about_project_img {
      width: 100%;
      margin-bottom: 20px; }
      .about_project_img img {
        width: 100%; }
    .about_project_text {
      color: #262626;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      width: 100%; }
      .about_project_text p {
        margin-bottom: 20px; } }

.big_slider {
  padding: 68px 34px 54px; }
  .big_slider_content .slick-arrow {
    background-color: #08a652;
    width: 73px;
    height: 73px;
    z-index: 10;
    bottom: -16px;
    top: auto; }
    .big_slider_content .slick-arrow:before {
      font-size: 0;
      width: 50px;
      height: 50px;
      display: block;
      background-color: #f8f8f8;
      opacity: 1;
      -webkit-transform: translate(20%, 0%);
      transform: translate(20%, 0%); }
    .big_slider_content .slick-arrow.slick-prev {
      left: auto;
      right: 55px; }
      .big_slider_content .slick-arrow.slick-prev:before {
        background: #f8f8f8 url("../img/big_slider_arrow_prev.png") 50% 50% no-repeat; }
    .big_slider_content .slick-arrow.slick-next {
      right: 0px;
      width: 68px; }
      .big_slider_content .slick-arrow.slick-next:before {
        background: #f8f8f8 url("../img/big_slider_arrow_next.png") 50% 50% no-repeat; }
  .big_slider_img {
    position: relative;
    padding-bottom: 56.45%;
    overflow: hidden; }
    .big_slider_img img {
      position: absolute;
      height: 100%;
      left: 50%;
      -webkit-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%); }

@media all and (max-width: 768px) {
  .big_slider {
    padding: 36px 0 44px; } }

.partners {
  padding-bottom: 51px; }
  .partners_content {
    padding-top: 53px;
    border-top: 1px solid #ced1d5; }
  .partners .site_h {
    margin-bottom: 38px; }
  .partners_slider {
    margin-left: -15px;
    margin-right: -15px;
    font-size: 0; }
    .partners_slider_item {
      font-size: 14px;
      width: 100%;
      height: 215px;
      border-radius: 3px;
      border: 1px solid #ced1d5;
      background-color: #ffffff;
      position: relative; }
      .partners_slider_item_wrapper {
        padding: 15px;
        width: 33.33%;
        display: inline-block; }
    .partners_slider_img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .partners_slider_img img {
        max-width: 100%;
        min-width: 100px;
        max-height: 110px; }

@media all and (max-width: 1230px) {
  .big_slider {
    padding-left: 15px;
    padding-right: 15px; } }

@media all and (max-width: 991px) {
  .partners_slider_item {
    height: 100%; }
    .partners_slider_item_wrapper {
      display: block;
      width: 304px;
      height: 194px; }
  .partners_slider_img {
    width: 77%; } }

.moscow_page moscow_payment
.breedcrumbs {
  padding-top: 44px; }

.moscow_headline {
  padding-top: 25px;
  padding-bottom: 24px; }
  .moscow_headline_text {
    color: #08a652;
    font-size: 40px;
    font-weight: 700; }

.moscow_location {
  background-color: #f8f8f8;
  padding-bottom: 58px;
  padding-top: 24px; }
  .moscow_location .container {
    font-size: 0;
    text-align: justify; }
    .moscow_location .container:after {
      content: '';
      width: 100%;
      display: inline-block; }
  .moscow_location_info {
    text-align: left;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-right: 15px; }
    .moscow_location_info .site_h {
      margin-bottom: 39px; }
    .moscow_location_info_block {
      margin-bottom: 18px; }
      .moscow_location_info_block span {
        display: block;
        color: #999999;
        font-size: 16px;
        font-weight: 400; }
      .moscow_location_info_block p {
        display: block;
        color: #262626;
        font-size: 21px;
        font-weight: 600; }
    .moscow_location_info_announcement {
      color: #999999;
      font-size: 18px;
      font-weight: 400;
      max-width: 380px;
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      padding-top: 13px;
      padding-bottom: 11px; }
      .moscow_location_info_announcement span {
        display: block; }
  .moscow_location_map {
    max-width: 556px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    overflow: hidden; }

.moscow_payment {
  padding-top: 34px;
  padding-bottom: 41px; }
  .moscow_payment .container {
    font-size: 0; }
  .moscow_payment .site_h {
    margin-bottom: 22px; }
  .moscow_payment_description {
    max-width: 930px;
    color: #262626;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px; }
    .moscow_payment_description a {
      color: #08a652;
      font-weight: 600;
      text-decoration: underline; }
  .moscow_payment_h {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px; }
  .moscow_payment ul li {
    margin-bottom: 8px; }
  .moscow_payment_table {
    margin-top: 25px;
    margin-bottom: 18px;
    font-size: 0;
    border: 1px solid #ced1d5; }
    .moscow_payment_table.mob_table {
      display: none;
      width: 48%;
      vertical-align: top; }
      .moscow_payment_table.mob_table + .mob_table {
        margin-left: 4%; }
      .moscow_payment_table.mob_table .moscow_payment_table_h.green {
        background-color: #08a652; }
        .moscow_payment_table.mob_table .moscow_payment_table_h.green .moscow_payment_table_cell {
          color: #ffffff;
          font-size: 16px;
          font-weight: 400; }
      .moscow_payment_table.mob_table .moscow_payment_table_h .moscow_payment_table_cell {
        text-align: center;
        width: 100%; }
      .moscow_payment_table.mob_table .moscow_payment_table_row .moscow_payment_table_cell {
        width: 50%;
        text-align: center; }
        .moscow_payment_table.mob_table .moscow_payment_table_row .moscow_payment_table_cell:first-child {
          padding-top: 10px; }
          .moscow_payment_table.mob_table .moscow_payment_table_row .moscow_payment_table_cell:first-child .distance {
            color: #08a652;
            font-size: 18px;
            font-weight: 700; }
    .moscow_payment_table_h .moscow_payment_table_cell {
      padding-top: 10px; }
      .moscow_payment_table_h .moscow_payment_table_cell > div {
        font-size: 14px;
        text-align: center; }
        .moscow_payment_table_h .moscow_payment_table_cell > div.distance {
          font-size: 18px;
          font-weight: 700;
          color: #08a652; }
      .moscow_payment_table_h .moscow_payment_table_cell:first-child {
        font-weight: 700; }
    .moscow_payment_table_row {
      border-top: 1px solid #ced1d5; }
    .moscow_payment_table_cell {
      display: inline-block;
      vertical-align: top;
      width: 14.285%;
      font-size: 18px;
      text-align: center;
      height: 59px;
      padding: 0 10px;
      padding-top: 19px;
      border-left: 1px solid #ced1d5; }
      .moscow_payment_table_cell:first-child {
        text-align: left;
        width: 27.57%;
        padding-top: 19px;
        padding-left: 20px;
        border-left: none; }
      .moscow_payment_table_cell:last-child {
        width: 15.285%; }
    .moscow_payment_table_caption {
      color: #262626;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 22px; }
  .moscow_payment.moscov_participants {
    background-color: #f8f8f8;
    padding-top: 28px;
    padding-bottom: 14px; }
    .moscow_payment.moscov_participants .moscow_payment_table_cell {
      background: #ffffff;
      width: 16.66%; }
      .moscow_payment.moscov_participants .moscow_payment_table_cell:first-child {
        font-weight: 400;
        width: 16.66%;
        padding-top: 10px;
        text-align: center; }
  .moscow_payment_list {
    margin-top: 26px;
    font-size: 16px;
    border-bottom: 1px solid #ced1d5;
    padding-bottom: 32px;
    margin-bottom: 26px; }
    .moscow_payment_list_h {
      font-weight: 700;
      margin-bottom: 18px; }
    .moscow_payment_list .green_dot_list li {
      margin-bottom: 3px; }
  .moscow_payment_caption {
    font-size: 16px; }
    .moscow_payment_caption b {
      font-weight: 700;
      color: #08a652; }

.moscow_schedule {
  padding-top: 29px;
  padding-bottom: 23px; }
  .moscow_schedule_header span {
    display: inline-block;
    vertical-align: middle; }
  .moscow_schedule_header span:not(.site_h) {
    color: #262626;
    font-size: 24px;
    font-weight: 400; }
  .moscow_schedule_header .site_h {
    margin-right: 7px; }
  .moscow_schedule_block {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 19px;
    font-size: 0; }
    .moscow_schedule_block_left, .moscow_schedule_block_right {
      width: 50%;
      display: inline-block;
      vertical-align: top; }
  .moscow_schedule_item {
    padding: 12px;
    position: relative;
    border: 1px solid #ced1d5;
    min-height: 100%;
    display: table;
    width: 100%; }
    .moscow_schedule_item_wrapper {
      min-height: 94px;
      height: 114px;
      padding: 10px 15px; }
  .moscow_schedule__time {
    position: absolute;
    left: 12px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: inline-block;
    vertical-align: middle;
    color: #999999;
    font-size: 30px;
    font-weight: 700;
    padding-right: 23px;
    border-right: 1px solid #ced1d5; }
    .moscow_schedule__time span {
      color: #08a652; }
  .moscow_schedule__desc {
    padding-left: 131px;
    vertical-align: middle;
    display: table-cell;
    color: #262626;
    font-size: 16px;
    font-weight: 400; }

.moscow_winner {
  padding-top: 60px;
  padding-bottom: 35px; }
  .moscow_winner .container .site_h {
    margin-bottom: 34px; }
  .moscow_winner_img {
    display: none;
    text-align: center;
    margin-bottom: 22px; }
    .moscow_winner_img img {
      max-width: 100%;
      max-height: 100%; }
  .moscow_winner_caption {
    display: none;
    margin-bottom: 43px; }
    .moscow_winner_caption b,
    .moscow_winner_caption span {
      display: block; }
  .moscow_winner_text {
    vertical-align: middle;
    margin-top: 36px;
    font-size: 16px; }
    .moscow_winner_text p {
      margin-bottom: 18px; }
      .moscow_winner_text p:last-child {
        margin-bottom: 0; }
  .moscow_winner_h {
    margin-bottom: 26px;
    color: #262626;
    font-size: 24px;
    font-weight: 700; }
  .moscow_winner_list li {
    margin-bottom: 12px; }
    .moscow_winner_list li:last-child {
      margin-bottom: 0; }
  .moscow_winner_table {
    margin-bottom: 34px; }
    .moscow_winner_table_h {
      color: #262626;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 14px; }
    .moscow_winner_table_mob {
      margin-bottom: 20px;
      display: none; }
    .moscow_winner_table .green {
      color: #08a652;
      font-size: 18px;
      font-weight: 700; }
    .moscow_winner_table table {
      border-collapse: collapse;
      width: 100%;
      max-width: 1067px; }
      .moscow_winner_table table td {
        border: 1px solid #ced1d5;
        padding-top: 23px;
        padding-bottom: 21px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        vertical-align: middle; }
    .moscow_winner_table thead tr:first-child {
      font-weight: 700; }
      .moscow_winner_table thead tr:first-child td {
        width: 16.66%; }
        .moscow_winner_table thead tr:first-child td:first-child {
          padding-left: 15px;
          padding-right: 15px; }
    .moscow_winner_table_mob thead tr:first-child {
      font-weight: 400; }

.questionnaire_block {
  border-bottom: 1px solid #ced1d5;
  padding-bottom: 27px;
  margin-bottom: 26px; }
  .questionnaire_block > .moscow_start_package_h:first-child {
    margin-bottom: 18px; }

.receipt_block .moscow_start_package_link a {
  background-color: #f8f8f8;
  border: 1px solid #ced1d5;
  color: #262626;
  font-size: 16px;
  font-weight: 400; }
  .receipt_block .moscow_start_package_link a .fas {
    color: #08a652;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 20px; }

.moscow_start_package {
  padding-bottom: 13px; }
  .moscow_start_package .site_h {
    margin-bottom: 25px; }
  .moscow_start_package_h {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px; }
  .moscow_start_package_list {
    margin-bottom: 20px; }
  .moscow_start_package_link a {
    padding: 12px 49px;
    display: inline-block;
    background-color: #08a652;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; }
  .moscow_start_package_link .download_file_name {
    color: #262626;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 19px; }
  .moscow_start_package_caption {
    line-height: 22px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px; }
    .moscow_start_package_caption b {
      color: #08a652;
      font-weight: 700; }
  .moscow_start_package_announcement {
    color: #999999;
    font-size: 18px;
    font-weight: 400;
    max-width: 430px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-top: 13px;
    padding-bottom: 11px;
    margin-top: 28px; }

.moscow_gallery {
  padding-top: 13px; }
  .moscow_gallery_item {
    overflow: hidden;
    position: relative; }
    .moscow_gallery_item_wrapper {
      padding: 15px; }
    .moscow_gallery_item img {
      min-width: 100%;
      height: 100%;
      position: absolute; }
  .moscow_gallery_grid {
    font-size: 0;
    margin-left: -15px;
    margin-right: -15px; }
    .moscow_gallery_grid_col {
      width: 50%;
      display: inline-block;
      vertical-align: top; }
    .moscow_gallery_grid_left .moscow_gallery_item_wrapper:nth-child(1) .moscow_gallery_item {
      padding-bottom: 56.45%; }
    .moscow_gallery_grid_left .moscow_gallery_item_wrapper:nth-child(2), .moscow_gallery_grid_left .moscow_gallery_item_wrapper:nth-child(3) {
      width: 50%;
      display: inline-block;
      vertical-align: top; }
      .moscow_gallery_grid_left .moscow_gallery_item_wrapper:nth-child(2) .moscow_gallery_item, .moscow_gallery_grid_left .moscow_gallery_item_wrapper:nth-child(3) .moscow_gallery_item {
        padding-bottom: 119%; }
    .moscow_gallery_grid_right .moscow_gallery_item_wrapper:nth-child(3) .moscow_gallery_item {
      padding-bottom: 56.45%; }
    .moscow_gallery_grid_right .moscow_gallery_item_wrapper:nth-child(2), .moscow_gallery_grid_right .moscow_gallery_item_wrapper:nth-child(1) {
      width: 50%;
      display: inline-block;
      vertical-align: top; }
      .moscow_gallery_grid_right .moscow_gallery_item_wrapper:nth-child(2) .moscow_gallery_item, .moscow_gallery_grid_right .moscow_gallery_item_wrapper:nth-child(1) .moscow_gallery_item {
        padding-bottom: 119%; }
  .moscow_gallery_loadMore {
    text-align: center;
    padding: 27px 0 46px; }
    .moscow_gallery_loadMore a {
      border: 1px solid #ced1d5;
      background-color: #ffffff;
      padding: 15px 59px 13px;
      color: #262626;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      position: relative;
      display: inline-block; }
      .moscow_gallery_loadMore a:after {
        content: '\f0dd';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #08a652;
        font-size: 18px;
        position: relative;
        top: -3px;
        right: -4px; }

@media all and (max-width: 1155px) {
  .jumbo.jumbo_other .jumbo_reg_link {
    top: 57%; } }

@media all and (max-width: 1155px) {
  .moscow_payment_description {
    margin-bottom: 0; }
  .moscow_payment_table.desktop_table {
    display: none; }
  .moscow_payment_table.mob_table {
    display: inline-block; } }

@media all and (max-width: 1050px) {
  .moscow_schedule_item_wrapper {
    height: 136px; } }

@media all and (max-width: 991px) {
  .moscow_winner_table_desc {
    display: none; }
  .moscow_winner_table_mob {
    display: block; }
  .moscow_schedule_block_left, .moscow_schedule_block_right {
    width: 100%; }
  .moscow_schedule_item {
    padding: 15px 12px 16px; }
  .moscow_schedule_item_wrapper {
    height: auto;
    min-height: auto; }
  .moscow_gallery_grid_col {
    width: 100% !important; }
  .moscow_gallery_item_wrapper {
    width: 100% !important;
    padding: 3px 15px; }
  .moscow_gallery_item {
    padding-bottom: 56.45% !important; } }

@media all and (max-width: 855px) {
  .site_h {
    font-size: 24px !important; }
  .moscow_location_info, .moscow_location_map {
    width: 100%; }
  .moscow_location_map {
    margin-top: 30px; }
  .moscow_payment.moscov_participants .moscow_payment_table_h {
    width: 50%;
    display: inline-block;
    vertical-align: top; }
    .moscow_payment.moscov_participants .moscow_payment_table_h .moscow_payment_table_cell {
      border-left: none; }
  .moscow_payment.moscov_participants .moscow_payment_table_row {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    border: none; }
  .moscow_payment.moscov_participants .moscow_payment_table_cell {
    display: block;
    width: 100% !important;
    border-bottom: 1px solid #ced1d5;
    border-left: 1px solid #ced1d5; }
    .moscow_payment.moscov_participants .moscow_payment_table_cell:last-child {
      border-bottom: none; }
  .moscow_winner_list span {
    display: block;
    margin-bottom: 18px; }
  .moscow_schedule {
    padding-top: 20px; }
    .moscow_schedule_header span:not(.site_h) {
      color: #08a652;
      display: block;
      font-weight: 600;
      margin-top: 7px; }
    .moscow_schedule_header span.site_h + span {
      display: none; }
  .moscow_start_package_link .download_file_name {
    display: block;
    margin-top: 11px;
    margin-left: 0; } }

@media all and (max-width: 768px) {
  .jumbo.jumbo_other {
    min-height: 109px; }
  .jumbo.jumbo_other .jumbo_reg_link {
    display: none; }
  .jumbo.jumbo_other .jumbo_timer {
    bottom: 28px; }
  .jumbo.jumbo_other .jumbo_timer_clock {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
