@charset "UTF-8";
/*Colors*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic-ext");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  font-family: 'SBSansUI';
  font-weight: 400; }

main {
  height: 100%;
  padding-top: 162px; }

.container {
  width: 100%;
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

a {
  color: inherit; }

ul, ol, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

input[type="submit"],
button {
  cursor: pointer;
  outline: none;
  -webkit-appearance: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style-type: none; }

img {
  vertical-align: top; }

@font-face {
  font-family: 'SBSansUI';
  src: url("../fonts/SBSansUI_Light/fonts/SBSansUI_Light.eot");
  src: local("☺"), url("../fonts/SBSansUI_Light/fonts/SBSansUI_Light.ttf") format("truetype"), url("../fonts/SBSansUI_Light/fonts/SBSansUI_Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SBSansUI';
  src: url("../fonts/SBSansUI_Regular/fonts/SBSansUI_Regular.eot");
  src: local("☺"), url("../fonts/SBSansUI_Regular/fonts/SBSansUI_Regular.ttf") format("truetype"), url("../fonts/SBSansUI_Regular/fonts/SBSansUI_Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'SBSansUI';
  src: url("../fonts/SBSansUI_Semibold/fonts/SBSansUI_Semibold.eot");
  src: local("☺"), url("../fonts/SBSansUI_Semibold/fonts/SBSansUI_Semibold.ttf") format("truetype"), url("../fonts/SBSansUI_Semibold/fonts/SBSansUI_Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SBSansUI';
  src: url("../fonts/SBSansUI_Bold/fonts/SBSansUI_Bold.eot");
  src: local("☺"), url("../fonts/SBSansUI_Bold/fonts/SBSansUI_Bold.ttf") format("truetype"), url("../fonts/SBSansUI_Bold/fonts/SBSansUI_Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontAwesome/fontawesome-webfont.svg") format("svg");
  src: url("../fonts/fontAwesome/fontawesome-webfont.eot");
  font-weight: 700;
  font-style: normal; }

.site_h {
  color: #262626;
  font-size: 36px;
  font-weight: 600; }

.dropdown_list {
  display: none;
  position: relative;
  z-index: 10;
  background: #fff;
  border: 1px solid #ced1d5;
  padding: 10px 0px; }
  .dropdown_list_item {
    padding: 0 20px;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 18px; }

.dropdown_caption {
  padding: 15px 20px;
  color: #262626;
  font-size: 18px;
  font-weight: 300;
  height: 100%;
  cursor: pointer; }

.header {
  position: absolute;
  width: 100%;
  background: #fff; }
  .header_top {
    border-bottom: 1px solid #ced1d5;
    -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11);
            box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11);
    padding: 16px 0; }
    .header_top .container {
      text-align: justify;
      font-size: 0; }
      .header_top .container:after {
        content: '';
        width: 100%;
        display: inline-block; }
    .header_top_left {
      display: inline-block;
      vertical-align: middle; }
    .header_top_right {
      display: inline-block;
      vertical-align: middle; }
  .header_logo {
    display: inline-block;
    vertical-align: middle; }
    .header_logo.header_company {
      margin-right: 48px; }
    .header_logo.header_partner {
      margin-right: 44px; }
  .header_soc {
    display: inline-block;
    vertical-align: middle; }
    .header_soc__link {
      margin-right: 22px; }
      .header_soc__link:last-child {
        margin-right: 0; }
      .header_soc__link img {
        opacity: 0.25; }
  .header_location {
    margin-left: 40px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px; }
    .header_location_caption {
      display: inline-block;
      vertical-align: middle; }
      .header_location_caption i {
        color: #19bb4f;
        font-size: 16px; }
    .header_location_dropdown {
      display: inline-block;
      vertical-align: middle;
      position: relative; }
  .header_bottom {
    padding: 25px 0 21px;
    -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11);
            box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11);
    border: 1px solid #ced1d5; }
  .header_nav {
    font-size: 0;
    text-align: justify; }
    .header_nav:after {
      content: '';
      width: 100%;
      display: inline-block; }
    .header_nav_item {
      display: inline-block;
      vertical-align: middle; }
      .header_nav_item__link {
        text-transform: uppercase;
        font-size: 14px; }

.step_counter {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ced1d5; }
  .step_counter_h {
    color: #262626; }
  .step_counter_item {
    color: #08a652; }

.registration {
  padding: 72px 0 100px; }
  .registration_header {
    margin-bottom: 25px;
    font-size: 0;
    text-align: justify;
    text-align: justify; }
    .registration_header:after {
      content: '';
      width: 100%;
      display: inline-block; }
    .registration_header * {
      display: inline-block;
      vertical-align: middle; }
  .registration_form form {
    margin-left: -15px;
    margin-right: -15px;
    font-size: 0; }
  .registration_form_block {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    width: 33.33%;
    padding: 20px 15px; }
    .registration_form_block.phoneBlock, .registration_form_block.withTwoSelects {
      font-size: 0; }
      .registration_form_block.phoneBlock .selectField,
      .registration_form_block.phoneBlock .formInput, .registration_form_block.withTwoSelects .selectField,
      .registration_form_block.withTwoSelects .formInput {
        display: inline-block;
        vertical-align: middle; }
    .registration_form_block.withTwoSelects .selectField {
      width: 50%;
      padding: 0 15px; }
      .registration_form_block.withTwoSelects .selectField:first-child {
        padding-left: 0; }
      .registration_form_block.withTwoSelects .selectField:last-child {
        padding-right: 0; }
    .registration_form_block.phoneBlock {
      position: relative;
      padding-left: 70px; }
      .registration_form_block.phoneBlock .selectField {
        width: 55px;
        position: absolute;
        top: 50%;
        left: 15px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }
        .registration_form_block.phoneBlock .selectField .dropdown_caption {
          border-radius: 4px 0 0 4px;
          border-right: none; }
      .registration_form_block.phoneBlock .formInput {
        width: 100%; }
        .registration_form_block.phoneBlock .formInput input {
          border-radius: 0 4px 4px 0; }
      .registration_form_block.phoneBlock .dropdown_caption {
        padding: 15px 12px; }
        .registration_form_block.phoneBlock .dropdown_caption:before {
          display: none; }
        .registration_form_block.phoneBlock .dropdown_caption:after {
          content: '\f0d7';
          font-family: 'FontAwesome';
          font-size: 14px;
          color: #999999;
          border: none;
          -webkit-transform: translate(0, -50%) rotate(0deg);
          transform: translate(0, -50%) rotate(0deg);
          right: 6px; }
  .registration_form_caption {
    display: inline-block;
    vertical-align: middle;
    margin-right: 19px; }
  .registration_form .radioField {
    display: inline-block;
    vertical-align: middle; }
    .registration_form .radioField input {
      display: none; }
      .registration_form .radioField input:checked + label:before {
        border: 2px solid #08a652; }
      .registration_form .radioField input:checked + label:after {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 20px;
        position: absolute;
        top: 8px;
        left: 5px;
        background: #08a652;
        transition: 0.25 ease;
        -webkit-transition: 0.25 ease;
        -moz-transition: 0.25 ease;
        -ms-transition: 0.25 ease;
        -o-transition: 0.25 ease; }
    .registration_form .radioField label {
      margin-right: 17px;
      padding-left: 23px;
      position: relative; }
      .registration_form .radioField label:before {
        content: '';
        width: 18px;
        height: 18px;
        border-radius: 18px;
        border: 2px solid #999999;
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        transition: 0.25 ease;
        -webkit-transition: 0.25 ease;
        -moz-transition: 0.25 ease;
        -ms-transition: 0.25 ease;
        -o-transition: 0.25 ease; }
  .registration_form .checkField input {
    display: none; }
    .registration_form .checkField input:checked + label:before {
      border: 2px solid #08a652; }
    .registration_form .checkField input:checked + label:after {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 2px;
      position: absolute;
      top: 5px;
      left: 4px;
      background: #08a652;
      transition: 0.25 ease;
      -webkit-transition: 0.25 ease;
      -moz-transition: 0.25 ease;
      -ms-transition: 0.25 ease;
      -o-transition: 0.25 ease; }
  .registration_form .checkField label {
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-left: 23px; }
    .registration_form .checkField label:before {
      content: '';
      width: 18px;
      height: 18px;
      border-radius: 2px;
      border: 2px solid #262626;
      display: block;
      margin-top: 1px;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.25 ease;
      -webkit-transition: 0.25 ease;
      -moz-transition: 0.25 ease;
      -ms-transition: 0.25 ease;
      -o-transition: 0.25 ease; }

.hidden_form {
  border-top: 2px solid #08a652;
  padding-top: 57px; }
  .hidden_form_wrapper {
    padding: 26px 15px 0px; }
  .hidden_form_h {
    color: #999999;
    font-size: 16px;
    font-weight: 400; }
  .hidden_form_block {
    margin-left: -15px;
    margin-right: -15px; }

.add_kid_form_btn {
  font-size: 18px;
  text-align: center;
  line-height: 48px;
  background-color: #f2f2f2;
  margin-top: 15px;
  margin-bottom: 19px;
  cursor: pointer; }
  .add_kid_form_btn i {
    color: #08a652;
    margin-right: 5px; }
  .add_kid_form_btn span {
    color: #262626;
    font-weight: 300; }

.formInput input {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  border: 1px solid #ced1d5;
  background-color: #ffffff;
  padding: 20px;
  color: #262626;
  font-size: 18px;
  font-weight: 300; }

.formSubmit button {
  width: 100%;
  height: 55px;
  border-radius: 4px;
  background-color: #262626;
  color: #fff;
  font-size: 24px;
  font-weight: 400; }

.select_dropdown {
  height: 56px;
  background-color: #ffffff; }
  .select_dropdown .dropdown_caption {
    border-radius: 4px;
    border: 1px solid #ced1d5;
    position: relative;
    padding-right: 65px;
    transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -ms-transition: 0.25s ease;
    -o-transition: 0.25s ease; }
    .select_dropdown .dropdown_caption.active {
      border-radius: 4px 4px 0 0; }
    .select_dropdown .dropdown_caption:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 55px;
      border-left: 1px solid #ced1d5; }
    .select_dropdown .dropdown_caption:after {
      content: '';
      width: 12px;
      height: 12px;
      border-left: 3px solid #08a652;
      border-bottom: 3px solid #08a652;
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      -webkit-transform: translate(0, -70%) rotate(-45deg);
      transform: translate(0, -70%) rotate(-45deg); }
  .select_dropdown .dropdown_list {
    border-top: none; }

.jumbo {
  height: 100%;
  width: 100%;
  min-height: 622px;
  background: url("../img/bg.png") 100% 50% no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 205px; }
  .jumbo_text {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 40%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    .jumbo_text .container {
      padding-bottom: 0;
      height: auto; }
    .jumbo_text_h {
      font-size: 74px; }
    .jumbo_text_caption {
      max-width: 604px;
      font-size: 18px; }
  .jumbo_timer {
    position: absolute;
    bottom: 74px;
    width: 100%; }
    .jumbo_timer .container {
      position: relative; }
    .jumbo_timer_h {
      margin-bottom: 19px; }
      .jumbo_timer_h span {
        font-size: 18px;
        font-weight: 400;
        color: #262626; }
    .jumbo_timer_clock .lightTimerBlock {
      display: inline-block;
      border-radius: 5px;
      background-color: #ffffff;
      padding: 5px 36px 7px;
      text-align: center;
      margin-right: 19px; }
      .jumbo_timer_clock .lightTimerBlock:last-child {
        margin-right: 0; }
        .jumbo_timer_clock .lightTimerBlock:last-child .lightTimerСaptionSpan {
          min-width: 65px; }
    .jumbo_timer_clock .lightTimerСaptionSpan {
      color: #262626;
      font-size: 15px;
      font-weight: 400;
      display: block; }
    .jumbo_timer_clock .lightTimerNumberSpan {
      color: #262626;
      font-size: 49px;
      font-weight: 700;
      line-height: 51px;
      display: block; }

/*# sourceMappingURL=style.css.map */
